{% block subject %}
Password Reset - My Application
{% endblock subject %}

{% block text_body %}
Hi,

You requested a password reset. Click the link below to reset your password:

{{ url }}

If you did not request this, you can safely ignore this email.

Thanks,
The My Application Team
{% endblock text_body %}

{% block html_body %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hi,</p>
    <p>You requested a password reset. Click the link below to reset your password:</p>
    <p><a href="{{ url }}">Reset Password</a></p>
    <p>If you did not request this, you can safely ignore this email.</p>
    <p>Thanks,<br>The My Application Team</p>
</body>
</html>
{% endblock html_body %}
